.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #000000;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #ffffff;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-shadow: 3px 1px 4px rgba(15, 255, 29, 0.8);
}

.App-header {
  background-color: #000000;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 600px;
  width: 100%;
  box-shadow: 7px -2px 27px 13px rgba(15, 255, 29, 0.8);
  -webkit-box-shadow: 7px -2px 27px 13px rgba(15, 255, 29, 0.8);
  -moz-box-shadow: 7px -2px 27px 13px rgba(15, 255, 29, 0.8);
}

h1 {
  font-size: 2rem;
  margin-top: 0;
  margin-bottom: 20px;
}

form {
  display: flex;
  margin-bottom: 10px;
}

label {
  margin-right: 10px;
}

input[type="text"] {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  flex-grow: 1;
  padding: 10px;
  border: 5px solid rgba(15, 255, 29, 0.8);
  border-radius: 3px;
}

button {
  font-family: Roboto, sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #2bff20;
  background-color: #000000;
  padding: 14px 34px;
  border: solid #00ff00 2px;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  border-radius: 43px;
  transition: 1000ms;
  transform: translateY(0);
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
}

button:hover {
  transition: 1000ms;
  padding: 10px 50px;
  transform: translateY(-0px);
  background-color: #20ff3e;
  color: #000000;
  border: solid 2px #0eff12;
}

p {
  margin-top: 30px;
}
